:root {
  font-family: RedHatText, Overpass, overpass, helvetica, arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
